
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Montserrat:wght@200;400;500;600;700&family=Open+Sans:wght@300;400;700&display=swap');

*{
    font-family: "Montserrat", "Lato", "Open Sans", sans-serif;

    text-decoration: none;
}


:root{
    /* --primary-color: rgb(13, 144, 13); */
    --primary-color: #598c0b;
    /* --secondary-color: #cbf2b5; */
    --secondary-color: #B0D959;
    --tertiary-color: #ffffe8;
    --quaternary-color: #f5f5f5;
}



.d-flex.flex-column.align-items-center{
   /* marging ontop of each card div for anchors to work */
    margin-top: 70px !important;
    /* background-color: var(--quaternary-color); */
    
    @media (max-width: 692px) {
    
        margin: 0 90 0 0 !important;
    }





}





/* ------------------------ Typography ------------------------*/

.display-1 {
    color: var(--primary-color);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
                2px 4px 3px rgba(0,0,0,0.3);
    
}

.display-6 {
    color: var(--tertiary-color);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
                2px 4px 3px rgba(0,0,0,0.3);
}

h1{
    color: var(--secondary-color);
}





/* ----------------------------------------------- Landing Page -----------------------------------------------*/

@media (min-width: 992px) {
    /* styles to be applied when screen width is less than or equal to 992px */


}



/* ------------------------ hero ------------------------*/
/* image */
.backdrop{
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background-clip: border-box;
}

/* Div ontop of backdrop */
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero > .display-1{
    font-weight: bold !important;
}
.hero > .display-6{
    font-weight: 400 !important;
}



/* ------------------------ featured recipe ------------------------*/

.featured-recipe{
    background-color: var(--tertiary-color);
}

/* image */
.featured-img{
    object-fit: cover;
    height: 40vh;
    width: 100%;
}



a.featured-recipe-link{
    color: black;
    text-decoration: none;
 }

a.featured-recipe-link:hover{
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

a.featured-recipe-link:visited{
    color: black;
    text-decoration: none;
}



/* ------------------------ carousel ------------------------*/
.carousel-item {
    height: 40vh !important;
} 


.carousel-image{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
    position: absolute;

}

.carousel-item > .display-1{
    font-weight: bold !important;
    color: var(--secondary-color);
}



.carousel-control-prev, .carousel-control-next {
    /*size */
    height: 40vh;
    width: 5vw;
    min-width: 2rem;
    /*color */
    background: #5e5e5e none repeat scroll 0 0;
    opacity: 0.5;
    /*shape border*/
    border: 0px solid #1b1b1b;
    border-radius: 0%; /*zero for square */
    /*symbol */
    color: #fff;
    line-height: 70px;
    /*vertical position */
    /* top: 50%;
    margin: 0 3vw 0; */
}







/* ----------------------------------------------- Search page  -----------------------------------------------*/
/* Hover effect */
.figurediv {
    transition: transform 0.01s;
}
.figurediv:hover  {
    transform: scale(1.02);
}
  


@media (min-width: 992px) {
    /* styles to be applied when screen width is less than or equal to 992px */


   
}

/* 
.flex-column.align-items-center.justify-content-center{
    background-color: aqua;

} */






/* 

h1{
    color: red;
}

h2{
    color: red;
}
.row{
    margin: 0;
    padding: 0;
    border: red 1px solid;
}


h1::before {
    content: "pseduoelement test";
    font-size: 20px;
    color: red;
  }
 */





/* ----------------------------------------------- Recipe page  -----------------------------------------------*/









/* ----------------------------------------------- User page  -----------------------------------------------*/
/* Navbar */
.navbar.user-home{
/* flex-wrap: nowrap; */
top: 50px;
z-index: 100;
position: fixed;
width: 100%;
background-color: white !important;
box-shadow: rgba(0,0,0,.1) 0px 5px 10px ;
height: 50px;
}


form.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 !important;
}




.card-link{
    text-decoration: none !important;
    color: black !important;
}
.card-link:hover{
    text-decoration: underline !important;
    color: black !important;
}













/* ------------------------ Nav Bar ------------------------*/

@media (min-width: 992px) {
    /* styles to be applied when screen width is less than or equal to 992px */
    .navbar {
        background-color: rgba(250, 250, 250, 0)  !important;
        transition: box-shadow 0.5s ease-out ;
        transition: background-color 0.5s ease-out;
    }
    .navbar.scrolled {
        background-color: var(--secondary-color)  !important;
        box-shadow: rgba(0,0,0,.1) 0px 5px 10px ;
    }
}


/* unclicked link text colour */
.navbar-brand, .nav-link{ 
    color: var(--primary-color);  
}

/* clicked link colour */
.navbar-brand:visited, .nav-link:visited{ 
    color: var(--primary-color);
}

/* hover link text colour */
.navbar-brand:hover, .nav-link:hover{ 
    color: black;  
}

/* underline effect before hover */
.navbar-brand:hover::after, .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.2s ease-in-out;
}

/* underline effect during hover */
.navbar-brand:hover::after, .nav-link:hover::after {
    width: 100%;
}

.nav-item{
    padding: 0 .1rem;
}
















